<div class="header">
  <div class="outer">
    <div class="inner">
      <img src="icons/karoshi.png" width="68" height="58" class="icon">
    	<h1 class="slidetitle">Pre-loaded with useful applications</h1>
    </div>
  </div>
</div>

<div class="main">
  <div class="textbox">
  	<p>
      The LinuxSchools client is full of applications pre-installed for your convenience.
      You can access them using the improved menu at the top left corner of the desktop.
      Here is a list of some of the applications you can find.
    </p>
  </div>
  <div class="packagelist">
    <div class="left">
      <div class="column">
        <div class="title">Development</div>
        <p><img src="icons/atom.png"/><strong>Atom</strong>, a hackable text editor for the 21st Century.</p>
        <p><img src="icons/git.png"/><strong>Git</strong>, open-source version control system.</p>
        <p><img src="icons/eclipse.png"/><strong>Eclipse</strong>, Java IDE.</p>
      </div>

      <div class="column">
        <div class="title">Web Browsing</div>
        <p><img src="icons/firefox.png"/><strong>Firefox</strong>, web browser by Mozilla.</p>
        <p><img src="icons/thunderbird.png"/><strong>Thunderbird</strong>, mail client by Mozilla.</p>
      </div>

      <div class="column">
        <div class="title">Networking Tools</div>
        <p><img src="icons/filezilla.png"/><strong>Filezilla</strong>, open-source FTP client.</p>
        <p><img src="icons/wireshark.png"/><strong>Wireshark</strong>, network protocol analyzer.</p>
      </div>
    </div>

    <div class="right">
      <div class="column">
        <div class="title">Office</div>
        <p><img src="icons/libreoffice.png"/><strong>Libreoffice</strong>, open-source office suite.</p>
      </div>

      <div class="column">
        <div class="title">Graphics</div>
        <p><img src="icons/gimp.png"/><strong>Gimp</strong>, open-source graphics editor.</p>
        <p><img src="icons/inkscape.png"/><strong>Inkscape</strong>, open-source professional vector graphics editor.</p>
      </div>

      <div class="column">
        <div class="title">Misc</div>
        <p><img src="icons/vlc.png"/><strong>VLC</strong>, universal media player.</p>
        <p><img src="icons/stellarium.png"/><strong>Stellarium</strong>, open-source planetarium for your computer.</p>
      </div>
    </div>
  </div>
</div>
