<div class="header">
  <div class="outer">
    <div class="inner">
      <img src="icons/karoshi.png" width="68" height="58" class="icon">
    	<h1 class="slidetitle">Welcome to LinuxSchools Client Version 6.</h1>
    </div>
  </div>
</div>

